<app-principal></app-principal>
<div class="container">


    <div class="center-div" style= "margin:2%" *ngIf="no_data ==  0">

      <div class="consentimiento">
      <h3 style="font-size: 1.5rem; font-weight: bold;">Consentimiento Informado</h3>
      <br>

          <b>Encuesta:</b> "Similaridad de noticias" <br> <br>

          Te damos la bienvenida a la encuesta “Similaridad de noticias” del Instituto Milenio Fundamentos de los Datos. Por favor, <b>lee atentamente las siguientes instrucciones.</b>
          <div class="my-3">
            <ul>
            
            <li>El siguiente cuestionario tiene un máximo de 100 preguntas, sin embargo, puedes terminar de responder cuando tú quieras (haciendo click en la "X" para finalizar encuesta). Toda la información que nos puedas aportar será de gran ayuda.</li>

            <li>Ten en consideración que los titulares de noticias consultados no están traducidos, por tanto es requisito manejar el idioma <b>inglés</b> para poder comprenderlos y responder.</li>
            
            <li>Tus respuestas serán absolutamente anónimas, y los resultados podrás conocerlos más adelante a través de las redes del Instituto Milenio Fundamentos de los Datos.</li>

            <li>Si deseas revisar material de ayuda, puedes ver el siguiente video. </li>

            <li>Antes de comenzar, lee atentamente el <a class="link" (click)="open(mymodal)">consentimiento</a> y selecciona con un ticket la casilla si aceptas lo mencionado en dicho documento.</li>
            
            <li>Selecciona el botón “Comenzar” si autorizas el uso de tus respuestas para nuestro análisis.</li> 

            </ul>
          </div>


      <div class="form-check my-3" style="display: flex; flex-direction: column">
          <div>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (click)="changeConsent()">
            <label class="form-check-label" for="flexCheckChecked"> 
              He leído el consentimiento informado. 
            </label>
          </div>

          <div> 
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (click) = "changeTerms()">
            <label class="form-check-label" for="flexCheckChecked" >
              Acepto los términos y condiciones de la encuesta. 
            </label>
          </div>
      </div>
       <div style="display: flex; flex-direction: row-reverse;">
        <button type="button" class="btn btn-primary" id="startForm" (click)="startForm()" [disabled] = "terms==false || consent==false"> Comenzar </button> <!--Default disabled-->
      </div>

      </div>
    </div>

    <div class="center-div" *ngIf="no_data == 1">
        <div class="test-header">

        <a class="close" (click)="open(mymodal2)"><i class="fa-regular fa-rectangle-xmark fa-xl"></i></a>
        <p style="font-weight: bold; font-size: 1.3rem;">
          {{i + 1}}/100
        </p>
        </div>
        <div class="flexbox slider">
            <p style="font-size: 1.2rem;"> ¿Se refieren estos dos titulares de noticias al <b>mismo acontecimiento</b>? <br> 
                <!--<span style="font-size: 1rem;">Selecciona las palabras que determinaron tu decisión.</span> <br> !-->

                  <p style="font-size: 1.1rem; margin-bottom: 0.5rem;">1 - {{data[i].sentence1}} </p>


                  <p style="font-size: 1.1rem;">2 - {{data[i].sentence2}} </p>

            <!--
            <label>¿Qué porcentaje de certeza tienes respecto a tu respuesta?</label>
            <div class="input-group mb-3">

                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" value="100" min="0" max="100">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
            </div>
            -->
        </div>

        <div class="row">
            <div class="check-buttons-2">

                <div class="form-check">
                    <input class="form-check-input" type="radio"  [value]="1" name="selection" [(ngModel)]="selection">
                    <label class="form-check-label" for="exampleRadios1">
                      Se refieren al mismo acontecimiento.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio"  [value]="2" name="selection" [(ngModel)]="selection">
                    <label class="form-check-label" for="exampleRadios2">
                      No se refieren al mismo acontecimiento.
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio"  [value]="0" name="selection" [(ngModel)]="selection">
                    <label class="form-check-label" for="exampleRadios2">
                      Son dos acontecimientos distintos, pero están relacionados.
                    </label>
                </div>

                <!--

                <a class="next control" (click)= "next(data[i].id_output, 1);"><i class="fas fa-circle-check fa-5x"></i></a>
                <a class="next control" (click)= "next(data[i].id_output, '');"><i class="fas fa-circle-chevron-right fa-5x"></i></a>
                <a class="next control" (click)= "next(data[i].id_output, 0);"><i class="fas fa-circle-xmark fa-5x"></i></a>
                -->
            </div>
            <div style="display: flex; flex-direction: row-reverse; column-gap: 1rem; margin-top: 1rem;">
              <button type="button" class="btn btn-primary" (click)= "next(data[i].id_output, selection)">Siguiente</button>
              <button type="button" class="btn btn-outline-primary" (click)= "next(data[i].id_output, '')">Saltar</button>
            </div>
                
 
        </div>

    </div>

    <div class="center-div" *ngIf="no_data == 2">

      <div class="flexbox slider" style="padding-bottom: 3rem;">
        <p style="font-size: 1.2rem;"> La encuesta ha finalizado satisfactoriamente.</p><br> 
          Agradecemos enormemente su participación en esta encuesta, ayudará a generar datos valiosos no solo para nuestro proyecto, sino para la investigación en esta área. <br> <br>
        Nuevamente, recordar que los resultados serán publicados por este mismo medio, cuya fecha de publicación estaremos notificando por nuestras redes sociales. <br> 
        <form>
          <div class="form-group" style="padding-top: 1rem;">
            <label for="exampleFormControlTextarea1"><br> <i><b>Opcional</b></i> Utiliza la siguiente sección para dejar algún comentario sobre el formulario. </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" [(ngModel)]="comment"></textarea>
          </div>
        </form>
      </div>
      <div style="display: flex; flex-direction: row-reverse; column-gap: 1rem;">
        <button type="button" class="btn btn-primary" id="sentForm" (click)="sendComment(); open(sentForm)">Enviar comentario</button>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/']">Ir a Inicio</button>
      </div>


  </div>


</div>

<app-footer></app-footer>

<!-- Modal consentimiento -->

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Consentimiento informado</h4>
    <a class="close" (click)="modal.dismiss('Cross click')"><i class="fa-regular fa-rectangle-xmark fa-lg"></i></a>
    <!--<button type="button" class="close" aria-label="Close" >
      <span aria-hidden="true">×</span>
    </button>-->
  </div>
  <div class="modal-body">
    

    <p>Usted ha sido invitado(a) a participar en la encuesta “Noticias” del Instituto Milenio Fundamentos de los Datos. El objetivo es desarrollar modelos que determinen el grado de similitud semántica entre distintos titulares de noticias. Para participar en esta estudio, es importante que considere la siguiente información:  </p>
    <ul>
    <li><b>Participación:</b> Su participación consistirá en responder un cuestionario web a través de la plataforma noticias.imfd.cl, hospedada en servidores del instituto. 
    La encuesta consiste en mostrar al encuestado una serie de pares de titulares de noticias reales y que éste identifique si los titulares corresponden a exactamente el mismo evento, 
    corresponden a eventos distintos o si no corresponden al mismo evento pero se refieren a tópicos estrechamente relacionados.</li>

    <li><b>Riesgos:</b> Las respuestas de los informantes, además de ser anónimas, no contienen datos privados o sensibles. Por tanto, se considera que no existen riesgos asociados. </li>
    <li><b>Beneficios:</b> Usted no recibirá ningún beneficio directo por participar en este estudio. No obstante, su participación permitirá generar información valiosa para el desarrollo de modelos predictivos de similitud semántica en sitios de noticias en inglés.</li>
    <li><b>Voluntariedad:</b> Su participación es absolutamente voluntaria. Usted tendrá la libertad de contestar las preguntas que desee, como también de detener su participación en cualquier momento que lo desee. Esto no implicará ningún perjuicio para usted.</li>
    <li><b>Confidencialidad:</b> Todas sus respuestas serán anónimas. Las presentaciones y publicaciones de este estudio, no contendrán datos confidenciales de sus informantes.</li>
    <li><b>Conocimiento de los resultados:</b> Usted tiene derecho a conocer los resultados de esta investigación. Para ello, una vez estén listos podrá conocerlos directamente a través del sitio web noticias.imfd.cl</li>
    <li>Si requiere mayor información, o comunicarse por cualquier motivo relacionado con este estudio, puede contactar a María José Apolo en el correo maria.apolo@sansano.usm.cl. </li>

    </ul>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Entendido</button>
  </div>
</ng-template>

<!-- Modal cierre -->

<ng-template #mymodal2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Finalizar</h4>
    <a class="close" (click)="modal.dismiss('Cross click')"><i class="fa-regular fa-rectangle-xmark fa-lg"></i></a>
  </div>
  <div class="modal-body">
    
    <p> ¿Está seguro(a) de que desea finalizar el formulario? <br> <br> 
      
      Una vez finalizado, <b>no podrá retomar desde donde lo dejó.</b></p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss('Cross click')" [routerLink]="['/']">Finalizar</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Cancelar</button>
  </div>
</ng-template>

<ng-template #sentForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Finalizar</h4>
    <a class="close" (click)="modal.dismiss('Cross click')"><i class="fa-regular fa-rectangle-xmark fa-lg"></i></a>
  </div>
  <div class="modal-body">
    
    <p> Comentario enviado. ¡Muchas gracias!</p>

  </div>
</ng-template>

