<app-principal></app-principal>

<div class="landing">
    <div class="section-1">
        <div class="row">
            <div class="col-sm-8">
                <p>Bienvenid@ a la plataforma etiquetadora! </p>
                <p style="font-size:2rem"> Descripción</p>
                <div class="col-sm-3 pl-0" >
                    <a class="nav-link btn btn-primary" id="start" href="/etiquetador"> Comienza</a>
                </div>
            </div>

            <div class="col-sm-4">
                <img class="landing-img" src="assets/images/photo1.png" alt="Mountain">
            </div>
        </div>
    </div>

    <div class="section-2">
        <div class="row">
            <div class="col-sm-4">
                <img class="landing-img" src="assets/images/photo2.png" alt="Mountain">
            </div>
            <div class="col-sm-8 pt-5" style="text-align:justify">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, 
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. 
                    Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, 
                    consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
                    Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. 
                </p>

                <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>
                <ng-template #mymodal let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      This is example from Tutsmake.com
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                    </div>
                  </ng-template>

            </div>
        </div>
    </div>

    <div class="section-3">
        <div class="row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>

<app-footer></app-footer>
